Python basics Assignment

 
Tasks to be performed:

1.	Create a program to display the output using looping statement in the following manner:

Breakfast

*Pancakes           
*Omelet
*Muffins
*Sandwich
*Croissant

Lunch

*Chicken Salad
*Cheeseburger
*Reuben sandwich. 
*Barbecue chicken wings.
*The BLT. 


2.	Create a program to find prime numbers from the below set using only while loop:
{34,56,21,0,59,80,89,47,109,150}



3.	Create a list containing the following 3 elements:

●	your favorite animal
●	the percentage you scored in your high school
●	a boolean value describing whether you have previous programming experience



4.	A fruit vendor has harvested apples from his field. Harvesting the whole field costs 4000 dollars. So far, 30 customers have purchased 6 apples each for themselves. If the vendor charges 200 dollars per customer, what is the profit made by the fruit vendor?



5.	Create a function halfEvens, which takes a list l of integers and returns a list that is identical to l except that all odd integers have been removed and all even integers have been halved. For example, halfEvens([10,21,32,42,55]) returns [5, 16, 21].


6.	Create a function split_like_that() that takes a list l1 and returns a list of two lists that together contain the elements of the original list in an "every other" fashion. For example, split_like_that([1, 4, 23, 3, 8]) returns [[1, 23, 8], [4, 3]]. 
Note: You are not allowed to use slicing.

In [2]:
# Question 1)

list1 = ['Breakfast', 'Lunch']
list2 = ['Pancakes', 'Omlet', 'Muffins', 'Sandwich', 'Croissant']
list3 = ['Chicken salad', 'Cheesburger', 'Reuben Sandwich', 'Barbecue Chicken wings', 'The BLT.']
for i in list1:
    print("\n ", i, "\n")
    if (i == 'Breakfast'):
        for a in list2:
            print('*', a)
            
    else:
        for b in list3:
            print('*', b)

  Breakfast

* Pancakes
* Omlet
* Muffins
* Sandwich
* Croissant

  Lunch

* Chicken salad
* Cheesburger
* Reuben Sandwich
* Barbecue Chicken wings
* The BLT.

In [41]:
# Question = 2 by SIR

set1 = {34,56,21,0,59,80,89,47,109,150}
print(set1)
new_list = list(set1)
x = -1
while x < len(new_list) -1 :
    x = x + 1
    if new_list[x] <= 2:
        print("not prime")
    else:
        i = 2
        while i < new_list[x]:
            if new_list[x] % i == 0:
                print(new_list[x], "not prime")
                break
            i = i + 1
        else:
                print(new_list[x], "yes, prime")

{0, 34, 109, 47, 80, 21, 150, 56, 89, 59}
not prime
34 not prime
109 yes, prime
47 yes, prime
80 not prime
21 not prime
150 not prime
56 not prime
89 yes, prime
59 yes, prime

In [38]:
#Question = 2 Tried by me

s = {34,56,21,0,59,80,89,47,109,150}
print("Your set", s)
l = list(s)
print("Coverted from set to list", l)

while i==l:
    if (i%2 == 0):
        print("Not prime")
    else:
        print("Yes, Prime number")

Your set {0, 34, 109, 47, 80, 21, 150, 56, 89, 59}
Coverted from set to list [0, 34, 109, 47, 80, 21, 150, 56, 89, 59]

In [44]:
# Question = 3)

My_list = ['Tiger', 89.2, True]

In [7]:
# Question 5)

def halveEvens(l):
    n = []
    for i in l:
        if (i % 2 == 0):
            s = i // 2
            n.append(s)
    return n

In [8]:
halveEvens([20, 31, 25, 60])

[10, 30]

In [14]:
#Question 6)

def split_like_that(test_list):
    new = []
    data1 = [test_list[i] for i in range(len(test_list)) if i%2 == 0]
    data2 = [test_list[i] for i in range(len(test_list)) if i%2 != 0]    
    new.append(data1)
    new.append(data2)
    return new

In [15]:
split_like_that([1, 4, 33, 3, 6])

[[1, 33, 6], [4, 3]]

# 2ND ASSIGNMENT 

QUESTION 1)

1.	Consider yourself as a Python programmer whose task is to work on ATM code. Write a program to create the ATM operation which will perform the following tasks using the Oops concept:

1. Check Account Details
2. Check Balance
3. Deposit Amount
4. Withdraw Amount
5. Exit with a transaction receipt

In [45]:
# Solution
class bank_account:
    def __init__(self, name, acc):
        self.bal = 0
        self.name = name
        self.acc_no = acc
    def details(self):
        print("The account holder name is: ", self.name)
        print("The account number name is: ", self.acc_no)
    def check(self):
        print("The current balance is: ", self.bal)
    def deposit(self, amt):
        self.bal = self.bal + amt
        print("The account is deposited: ")
    def withdraw(self, wamt):
        if self.bal>=wamt:
            print("Here is your withdrawl amount: ", end = " ")
            self.bal = self.bal - wamt
            print(wamt)

In [43]:
a = bank_account("Ravikant", 79310101014526)

In [10]:
a.details()

The account holder name is:  Ravikant
The account number name is:  79310101014526

In [16]:
x = 10 # It is identifier now not variable
def func1(x):
    print(x)
func1(3)
# Here func1 is also a constructor

3

In [17]:
a.deposit(500)

The account is deposited:

In [18]:
a.check()

The current balance is:  500

In [19]:
a.deposit(2000)

The account is deposited:

In [20]:
a.check()

The current balance is:  2500

#Question = 2)

Using inheritance property create a code in such a way that if the user wants to withdraw the 
money from ATM, ATM should ask the user in which denomination(100,200 or 500) the user wants to withdraw. 
At last, your program should print if the user selected any particular domination note, then how many 
notes will the user gets after withdrawing.

In [29]:
# Solution

class num_of_notes(bank_account):
    def __init__(self, name, acc):
        super().__init__(name, acc)
    def withdraawl_notes(self, wmt):
        print("Below are the denominations from which you can choose: ")
        print("1 Rs 100")
        print("2 Rs 200")
        print("3 Rs 500")
        note = int(input("Enter your denomination now:"))
        if note == 100:
            if self.bal >= wamt:
                print("You will get", wamt//note, "number of 100Rs note")
            else:
                print("Insufficient balance")
        elif note == 200:
            if self.bal>=wamt:
                print("You will get", wamt//note, "number of 200Rs note")
            else:
                print("Insufficient balance")
        elif note == 500:
            if self.bal>=wamt:
                print("You will get", wamt//note, "number of 500Rs note")
            else:
                print("Insufficient balance")
        super().withdraw(wamt)

In [30]:
# For understanding the super function
class A:
    def funct1(self):
        print("Class A")
        
class B(A):
    def funct1(self):
        print("Class B")
        super().funct1()
        # Using super function it again iterates the funct1 function

In [22]:
a = B()

In [23]:
a.funct1()

Class B

In [36]:
a = num_of_notes("Ravikant", 500)

In [33]:
a.check()

The current balance is:  0

In [34]:
a.deposit(1000)

The account is deposited:

In [37]:
a.withdraw(1000)

In [38]:
a.deposit(100)

The account is deposited:

In [2]:
# a.withdraw(100)

In [1]:
# a.withdraawl_notes(1000)