In [1]:
import pandas as pd

1. Create a table in excel, table should have 2 columns named x and y. 

a. ‘x’ column should have numbers from 1-5.

b. ‘y’ should have numbers 2,4,5,4,2

c. Now calculate the mean of columns x and y.

d. Calculate the mode of column x.

e. Calculate the standard deviation of column y.

f. Atlast calculate the range of columns x and y seperatly

# Solutions

In [2]:
# Load file
data = pd.read_excel('Excel files.xlsx')
data

   x  y
0  1  2
1  2  4
2  3  5
3  4  4
4  5  2

In [3]:
data['x'].mean()

3.0

In [4]:
data['y'].mean()

3.4

In [7]:
data['x'].mode()

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
data['y'].std()

1.3416407864998738

In [10]:
print("Range of column X: ",data['x'].min(),"to",data['x'].max())

Range of column X:  1 to 5

In [11]:
print("Range of column X: ",data['y'].min(),"to",data['y'].max())

Range of column X:  2 to 5